* {
  padding: 0;
  margin: 0;
}

/* Navbar Designing */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1.5rem 10%;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.logo span {
  color: rgb(255, 81, 0);
}

.logo span:hover {
  color: rgb(255, 0, 0);
}

.ul-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.ul-links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.ul-links li a:hover {
  text-decoration: underline rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  transition: all 1s ease;
}

/* Hero Section Design */
#hero {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.7)),
    url(/images/hero.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 20px;
}

.hero button {
  padding: 10px;
  background-color: rgb(255, 81, 0);
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  border: none;
}

.hero button:hover {
  background-color: rgb(255, 0, 0);
  transform: scale(1.1);
  transition: all 1s ease;
}

/* AboutUs Section Design */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 30px;
  gap: 200px;
}

.about-img {
  width: 400px;
  border-radius: 30px;
  padding-left: 100px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.about-text h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  text-decoration: underline orangered;
}

.about-text h1:hover {
  color: orangered;
  text-decoration: none;
  transition: 1s;
}

.about-text p {
  font-size: 20px;
  line-height: 25px;
}

.about-text button {
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(255, 81, 0);
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  border: none;
}

.about-text button:hover {
  background-color: rgb(255, 0, 0);
  transform: scale(1.1);
  transition: all 1s ease;
}

/* Shop section designing */
#shop {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

#shop h1 {
  font-size: 50px;
}

#shop h1:hover {
  color: orangered;
  transition: 1s ease-in;
  transform: scale(1.1);
  text-decoration: overline black;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  border: 0.5px solid black;
  padding: 5px;
  flex-basis: 25%;
}
.card:hover {
  transform: scale(1.05);
  transition: all 1s ease;
  box-shadow: 5px 5px 5px 3px grey;
}

.card img {
  max-width: 100%;
  height: 400px;
  object-fit:cover;
  border-radius: 10px;
}

.card button {
  padding: 10px;
  background-color: rgb(255, 81, 0);
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  border: none;
}

.card button:hover {
  background-color: rgb(255, 0, 0);
  transform: scale(1.1);
  transition: all 1s ease;
}

/* Contact Us */
#contact {
  margin: 8rem;
  text-align: center;
}
#contact h1 {
  font-size: 35px;
}
#contact h1:hover {
  transform: scale(1.06);
  color: orangered;
  transition: all 1s;
}
.wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 5%;
}
.cform {
  /* border: 2px solid black; */
  height: 25rem;
  width: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 5px 5px 5px grey;
}
.cform input {
  width: 95%;
  height: 10%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}
input:hover {
  transform: scale(1.05);
  transition: all 1s;
  border: 1px solid orangered;
}
.cform textarea {
  width: 95%;
  height: 30%;
  border: 1px solid wheat;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}
textarea:hover {
  transform: scale(1.05);
  transition: all 1s;
  border: 1px solid orangered;
}
.location {
  width: 29rem;
  height: 29rem;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}
iframe {
  width: 29rem;
  height: 26rem;
  border-radius: 10px;
}

/* Footer */
.footer{
  background-color: black;
  color: #f9f9f9;
  text-align: center;
  padding: 1rem;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}
.footer-links i:hover{
  transform: scale(1.5) rotate(10deg);
  color: orangered;
  transition: 1s ease;
}

.footer p{
  color: white;
  font-size: 20px;
}
.footer p span{
  color: orangered;
  font-weight: bold;
  font-size: 25px;
}

